<html>

<head>

<title>Cadastro de clientes</title>

<style>

body{
    background: pink;
    font-family: Arial;
}

.container{
    margin-top: 100px;
    background: hotpink;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: white;
}

button{
    background: deeppink;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
}

.criar{
    display: inline-block;
    margin-top: 10px;
    background: white;
    color: deeppink;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
}

</style>

</head>

<body>

<div class="container">

<form method="post">

{% csrf_token %}

<h1>Login</h1>

{{ form.as_p }}

<button type="submit">
Entrar
</button>

<br><br>

<a href="{% url 'novo_usuario' %}" class="criar">Criar usuário</a>

</form>

</div>

</body>

</html>